.titleimg{
    width: 500px;
    height: auto;
    
}
#maindiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: lightgrey;
    border-radius: 15px;
}
#div{
    display: flex;
    justify-content: center;
}
img{
    padding-bottom: 10px;
}
h1{
    padding-top: 10px;
}
#buttonRow{
    padding-top: 15px;
    padding-bottom: 15px;
}